::-webkit-scrollbar {
    width: 2; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

.ce-active-chat-card {
    background-color: #6C5BB8 !important;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: 18px !important;
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    letter-spacing: 0.5px;

    font-weight: 600;
}
.ce-chat-card{
    color:white !important;
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    letter-spacing: 0.5px;
}
.ce-chat-title-text {
  color: #48A4FF !important;
}

.ce-chat-subtitle-text{
    color: #A0A0A0 !important;
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    letter-spacing: 0.5px;
}
.ce-settings-container{
    color:#161618 !important;
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    letter-spacing: 0.5px;
}